<h1>Detail Page</h1>

<mat-card>
  <p>This content is server rendered with Angular Universal, NestJS, and Google Cloud Run.</p>  

  Paste URL: <pre>https://launchpad-pwa.firebaseio.com/contacts/KmVldnBDiIhEfyCFu3h6rprZr7I2</pre>
  <!-- Paste URL: <pre>https://launchpad-pwa.firebaseio.com/contacts/{{contactId}}</pre> -->

  <a href="https://cards-dev.twitter.com/validator" target="blank" mat-stroked-button color="accent">Twitter Card Validator</a>

  <button mat-raised-button routerLink="/contacts">BACK</button>
</mat-card>

    
<mat-card>
  <p>This content is server rendered with Angular Universal, NestJS, and Google Cloud Run.</p>  

  Paste URL: <pre>https://slang-com.firebaseio.com/contacts/HJixbo2ImdfXF6siqPCX</pre>
  <!-- Paste URL: <pre>https://launchpad-pwa.firebaseio.com/contacts/{{contactId}}</pre> -->

  <a href="https://cards-dev.twitter.com/validator" target="blank" mat-stroked-button color="accent">Twitter Card Validator</a>

  <button mat-raised-button routerLink="/contacts">BACK</button>
</mat-card>

    

<mat-card *ngIf="contact | async as c">
  <mat-card-header>
    <mat-card-title>{{ c.name }}</mat-card-title>
    <mat-card-subtitle>Contact Details</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="c.image" />
  <mat-card-content>
    <p>
      {{ c.bio }}
    </p>
  </mat-card-content>
</mat-card>