<header>

  <!-- <iframe
    src="https://player.vimeo.com/video/359329279?color=ff9933&title=0&byline=0&portrait=0"
    width="640"
    height="361"
    frameborder="0"
    allow="autoplay; fullscreen"
    allowfullscreen
  ></iframe> -->

  <div class="full-logo">
    <img src="../../assets/icons/JGG_FullLogo_310_T.png" alt="full-logo">
  </div>

  <p>
    <a mat-raised-button color="accent" [routerLink]="['kanban']">Dashboard</a>
    <a mat-raised-button href="https://github.com/Cogentx/cogentx-studybuddy" target="blank">Source</a>
  </p>
</header>
